@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(../css/bootstrap.min.css);
@import url(../css/font-awesome.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: "PT Sans", sans-serif;
  height: 100%; }

html {
  height: 100%; }

a:hover {
  text-decoration: none; }

.wrapper {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  background: #a0a0a0 url("../img/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }
  .wrapper img {
    margin: 100px auto; }
  .wrapper h1 {
    font-weight: bold;
    font-size: 60px;
    color: #000000;
    margin-bottom: 110px; }
    .wrapper h1 a {
      position: relative;
      z-index: 2;
      color: #000000; }
    .wrapper h1 a:after {
      position: absolute;
      content: "";
      z-index: 1;
      width: 100%;
      height: 6px;
      background: #ec4444;
      left: 0;
      bottom: -3px; }
    .wrapper h1 a:hover {
      color: #ec4444;
      cursor: pointer; }
  .wrapper form {
    display: block;
    margin-bottom: 130px; }
    .wrapper form p {
      color: white;
      padding: 0; }
    .wrapper form p:first-child {
      font-size: 16px;
      text-align: left;
      margin-bottom: 8px; }
    .wrapper form p:last-child {
      font-size: 12px;
      text-align: right;
      margin-top: 8px; }
    .wrapper form .inp {
      position: relative;
      font-size: 20px;
      color: #a2a2a2;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.4); }
    .wrapper form input[type='email'] {
      border-style: solid;
      border-width: 1px;
      border-color: transparent;
      background-color: transparent;
      font-size: 20px;
      color: #a2a2a2;
      padding: 20px 15px; }
    .wrapper form input[type='email']:focus {
      border: none;
      /* ╨г╨▒╨╕╤А╨░╨╡╨╝ ╤А╨░╨╝╨║╤Г */
      outline: none;
      /* ╨г╨▒╨╕╤А╨░╨╡╨╝ ╤Б╨▓╨╡╤З╨╡╨╜╨╕╨╡ ╨▓ Chrome ╨╕ Safari */
      -webkit-appearance: none;
      /* ╨г╨▒╨╕╤А╨░╨╡╨╝ ╤А╨░╨╝╨║╤Г ╨▓ Chrome ╨╕ Safari */ }
    .wrapper form .button {
      cursor: pointer;
      width: 50px;
      height: 50px;
      background: #ec4444;
      border-radius: 360px;
      margin-top: 10px;
      float: right;
      color: white;
      line-height: 50px; }
    .wrapper form .button:hover {
      background: #cf3535; }
    .wrapper form a {
      color: white; }
    .wrapper form .button:after {
      content: '';
      clear: both; }
  .wrapper .twitter {
    margin-bottom: 304px;
    color: white; }
    .wrapper .twitter a {
      color: white;
      font-size: 16px; }
    .wrapper .twitter a:hover {
      text-decoration: none;
      color: #efefef; }
    .wrapper .twitter i {
      margin-right: 10px; }
